h1{
  text-align:center;
}
.container-form{ 
    max-width: 400px;
    margin: 80px auto;  
    padding: 60px; 
    background-color: #ffffffe1;
    border-radius: 10px; 
    box-shadow: 0 0 10px #DF4E4E; 
}
label{
  display:block;

}
button{
    padding: 1rem;
    background-color: #D35353;
    margin-top:2rem;
    border-radius: 3rem;
    border: none;
    cursor: grab;

}
button:hover{
    background-color: #CC189F;
}
